{% extends "layout.html.twig" %}

{% block header %}
    {% include "partials/_header.html.twig" %}
{% endblock %}

{% block main %}
    <main class="py-5 container">
        <h1>Ajouter un remboursement</h1>
        
        <form method="post" action="index.php?route=addRemboursement">
            
            <fieldset class="mb-3">
                <label for="montant" class="form-label">Montant</label>
                <input type="number" name="montant" id="montant" class="form-control" required>
            </fieldset>

            <fieldset class="mb-3">
                <label for="receveur-id" class="form-label">Receveur (Qui reçoit l'argent ?)</label>
                <select class="form-select" id="receveur-id" name="receveur_id" required>
                    <option selected disabled>Choisir un bénéficiaire</option>
                    
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                    
                </select>
            </fieldset>

            <fieldset class="mb-3">
                <label for="motif" class="form-label">Motif</label>
                <input type="text" name="motif" id="motif" class="form-control" required>
            </fieldset>

            <fieldset>
                <button type="submit" class="btn btn-primary">Valider le remboursement</button>
            </fieldset>
        </form>
    </main>
{% endblock %}