{% extends "layout.html.twig" %}

{% block header %}
    {% include "partials/_header.html.twig" %}
{% endblock %}

{% block main %}
    <main class="py-5 container">
        <h1>Ajouter une dépense</h1>
        
        <form method="post" action="index.php?route=addDepense">
            
            <fieldset class="mb-3">
                <label for="montant" class="form-label">Montant</label>
                <input type="number" name="montant" id="montant" class="form-control" required>
            </fieldset>

            <fieldset class="mb-3">
                <label for="date" class="form-label">Date</label>
                <input type="date" name="date" id="date" class="form-control" required>
            </fieldset>

            <fieldset class="mb-3">
                <label for="motif" class="form-label">Motif</label>
                <input type="text" name="motif" id="motif" class="form-control" required>
            </fieldset>

            <fieldset class="mb-3">
                <label for="categorie-id" class="form-label">Catégorie</label>
                <select class="form-select" id="categorie-id" name="categorie_id" required>
                    <option selected disabled>Choisir une catégorie</option>
                    
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.nom }}</option>
                    {% endfor %}
                    
                </select>
            </fieldset>

            <fieldset>
                <button type="submit" class="btn btn-primary">Ajouter</button>
            </fieldset>
        </form>
    </main>
{% endblock %}