{% extends "layout.html.twig" %}

{% block header %}
    {% include "partials/_header.html.twig" %}
{% endblock %}

{% block main %}
    <main class="py-5 container">
        <h1>Accueil</h1>
        <h3>Fair Count</h3>
        <p>Faire ses comptes équitablement est devenu bien plus facile aujourd'hui grâce à Fair Count !</p>
        <p>Commencez dès maintenant en vous créant un compte !</p>


    </main>
{% endblock %}